/* Base */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: #FFFFFF;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
.header {
  padding: 20px 50px;
  background-color: #ffffff;
   letter-spacing: 0.02em;
}

.nav-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.nav-logo .studio {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts {
   font-style: normal;
}
.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
 
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Hero */
.hero {
  text-align: center;
  padding: 120px 20px;
  background-color: #2e2f42;
  color: #ffffff;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-btn {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  padding: 12px 30px;
  cursor: pointer;
  border: none;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404BBF;
}


.team {
  background-color: #F4F4FD;
}
.team__item { 
  background-color: #FFFFFF;
  border-radius: 0 0 4px 4px; /* тільки нижні кути */
  padding-bottom: 32px; /* внутрішній відступ знизу */
  text-align: center; /* щоб ім'я і позиція були по центру */
}
.team__title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.team__name {
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.team__position {
  font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.portfolio {
  padding: 60px 0;
}
.portfolio__title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.portfolio-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.project__name{
  font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.project__category {
  font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.portfolio__iteam {
  background-color: #FFFFFF;
}

.feature-title {
font-weight: 500;        /* жирність */
  font-size: 20px;         /* розмір тексту */
  line-height: 1.2;        /* міжрядковий інтервал */
  letter-spacing: 0.02em;  /* відстань між літерами */
  color: #2e2f42;          /* колір тексту */
  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;         /* розмір тексту */
  line-height: 1.5;        /* міжрядковий інтервал */
  letter-spacing: 0.02em;  /* відстань між літерами */
  color: #434455;          /* колір тексту */
}

.footer {
  background-color: #2e2f42;
  
}

.footer .logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer .logo .studio {
  color: #f4f4fd;
}


.footer .footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}