/* Base */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #434455;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background-color: #FFFFFF;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */
.header {
  padding: 20px 50px;
  background-color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-accent {
  color: #4d5ae5;
}

.logo-main {
  color: #2e2f42;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contacts-list {
  font-style: normal;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
 
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}

/* Hero */
.hero {
  text-align: center;
  padding: 120px 20px;
  background-color: #2e2f42;
  color: #ffffff;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-btn {
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding: 12px 30px;
  cursor: pointer;
  border: none;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404BBF;
}
.team {
  background-color: #F4F4FD; /* задає фон секції */
  padding: 120px 0;         /* відступи зверху і знизу */
}

/* Features */
.features {
  padding: 60px 0;
}

.features-title {
  font-size: 36px;            /* розмір тексту */
  line-height: 1.11;          /* простір між рядками */
  text-align: center;         /* вирівнювання тексту по центру */
  letter-spacing: 0.02em;     /* відстань між літерами */
  text-transform: capitalize; /* перша буква кожного слова велика */
  color: #2e2f42;             /* колір тексту */
  margin-bottom: 40px;
}

.features-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-item {
  max-width: 220px;
}

.feature-title {
  font-weight: 500;        /* жирність шрифту (medium) */
  font-size: 20px;         /* розмір тексту */
  line-height: 1.2;        /* вертикальний інтервал між рядками */
  letter-spacing: 0.02em;  /* відстань між літерами */
  color: #2e2f42;          /* колір тексту */
  margin-bottom: 8px;
}

.feature-text {
  font-size: 16px;         /* розмір тексту */
  line-height: 1.5;        /* міжрядковий інтервал */
  letter-spacing: 0.02em;  /* відстань між літерами */
  color: #434455;          /* колір тексту */
}
.footer {
  background-color: #2E2F42;
}
.footer__text {
  color: #F4F4FD;
  letter-spacing: 0.02em;
}
.footer .logo-main {
  color: #F4F4FD;
}
